html {
    color: aliceblue;
    
}

ul {
    list-style-type: none;
    list-style-position: inside;
    
    float: none;
}


.content {
    position: fixed;
    background-color: rgb(86, 86, 97);
    color: aliceblue;
    width: calc(100% - 270px);
    height: calc(100% - 140px);
    right: 20px;
    bottom :20px;
    padding-left: 20px ;
    
}

.main {
    position: fixed;
    background-color: rgb(54, 54, 61);
    color: aliceblue;
    width: calc(100% - 225px);
    height: 100%;
    right: 0;
    top :0px;
    padding-left: 20px ;
    
}

.sidebar {
    background-color: rgb(42, 42, 48);
    position: fixed;
    left: 0;
    top:0;
    width: 205px;
    height: 100%;
    padding: 20px 0;
    
}