:root {
    --bg-color: #161D27;
    --primary-color: #07459d;
    --secondary-color: #141b25;
    --text-color: #dceafe;
    --menu-icon: url('images/menu-dark.svg');  
    --moon-icon: url('images/moon-filled.svg');  
}



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body {
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #161D27;
        --primary-color: #07459d;
        --secondary-color: #141b25;
        --text-color: #dceafe;
        --menu-icon: url('images/menu-dark.svg');  
        --moon-icon: url('images/moon-filled.svg');  
        } 
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #e2e7ef;
        --secondary-color: #e2e7ef;
        --text-color: #161D27;
        --menu-icon: url('images/menu-light.svg');  
        --moon-icon: url('images/moon.svg');  
    }
    
}

.navbar {
    top:0;
    background-color: var(--secondary-color);
    width: 100vw;
    height:5%;
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: x-large;
    z-index: 2000;
    gap:1%;
}

#menu-button {
    margin-right:1%;
}

#menu-button::after {
    content:var(--menu-icon)
}

#theme-button::after {
    content:var(--moon-icon);
}

#menu {
    height: 100%;
    width: 0%;
    right:0;
    position: fixed;
    background-color: var(--secondary-color);
    z-index: 1000;
    overflow: hidden;
}

@keyframes slide {
    0% {width:0}
    100% {width: 20%}
}

@keyframes slideback {
    0% {width: 20% }
    100% {width:0}
}

#menu-links {
    height: 35%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

#menu-links a {
    color: var(--text-color);
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    margin-top: 2%;
    align-items: center;
    height: 100vh;
    overflow-y:scroll;
}

.profile-image {
    width:15%;
    border-radius: 50%;
}
      
.gallery {
    display: flex;
    gap: 5%;
    justify-content: center;
    padding: 1%; 
}

.caption {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 25%;
    border-radius: 15px;
    padding: .5%;
    color:#dceafe;
    align-items: center;
}

.caption p {
    width:90%;
}

.project-link {
    border-radius: 5px;
    padding: 4%;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    width:fit-content;
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    .gallery {
        align-items: center;
        flex-direction: column;
        gap: 5%;
    }
    .caption {
        width: 90%;
        margin-top: 5%;
    }
    .wrapper {
        margin-top: 5%;
    }
    @keyframes slide {
        0% {width:0}
        100% {width: 55%}
    }
    
    @keyframes slideback {
        0% {width: 55% }
        100% {width:0}
    }    
    
}