@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body {
    color: #ddeafe;
    background-color: #161D27;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    top:0;
    background-color: #161D27;
    width: 100vw;
    height:5%;
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: x-large;
    z-index: 2000;
}

#menu-button {
    margin-right:1%;
}

#menu {
    height: 100%;
    width: 0%;
    right:0;
    position: fixed;
    background-color: #161D27;
    z-index: 1000;
    overflow: hidden;
}

@keyframes slide {
    0% {width:0}
    100% {width: 20%}
}

@keyframes slideback {
    0% {width: 20% }
    100% {width:0}
}

#menu-links {
    height: 35%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

#menu-links a {
    color: #5e7ca6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    margin-top: 2%;
    align-items: center;
}

.profile-image {
    width:15%;
    border-radius: 50%;
}
      
.gallery {
    display: flex;
    gap: 5%;
    justify-content: center;
    padding: 1%; 
}

.caption {
    display: flex;
    flex-direction: column;
    background-color: #07459d;
    width: 25%;
    border-radius: 15px;
    padding: 1%;
    align-items: center;
}

.caption p {
    width:90%
}

.project-link {
    border-radius: 5px;
    padding: 4%;
    background-color: #141b24;
    text-decoration: none;
    color: #ddeafe;
    text-align: center;
    width:92%;
    margin-top: auto;
}

